@(formWine: Form[WineBottle])

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Dashboard - Ace Admin</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		@importcss()
		
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/jquery-ui-1.10.3.full.min.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/chosen.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/datepicker.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/bootstrap-timepicker.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/daterangepicker.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/colorpicker.css")" />		
		
	</head>

	<body>
	
		@header()

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
                
				@sidebar()
               				
				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">Dashboard</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								Dashboard
								<small>
									<i class="icon-double-angle-right"></i>
									overview &amp; stats
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="alert alert-block alert-success">
									<button type="button" class="close" data-dismiss="alert">
										<i class="icon-remove"></i>
									</button>

									<i class="icon-ok green"></i>

									Welcome to
									<strong class="green">
										Vinodrop
										<small>(v1.2)</small>
									</strong>
									, the lightweight, feature-rich and easy to use admin template.
								</div>
								
								<h4 class="pink">
									<i class="icon-hand-right green"></i>
									<a href="#modal-form" role="button" class="blue" data-toggle="modal"> Add Wine ! </a>
								</h4>								
								
								<div id="modal-form" class="modal" tabindex="-1">
									@helper.form(routes.Application.addWine) {
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="blue bigger">Please fill the following form fields</h4>
											</div>

											<div class="modal-body overflow-visible">
												<div class="row">
													<div class="col-xs-12 col-sm-5">
														<div class="space"></div>

														<input type="file" />
													</div>

													<div class="col-xs-12 col-sm-7">
													
														<div class="form-group">
															<label for="form-field-select-3">Bottle Name</label>
															
															<div>
																<input id="bottleName" type="text" class="form-control" placeholder="Name of the Bottle" value="@formWine("name").value"/>
															</div>
														</div>
														
														<div class="form-group">
															<label for="form-field-select-3">Appellation</label>
															
															<div>
																<input id="appellation" type="text" class="form-control" placeholder="Appellation" />
															</div>
														</div>
														
														<div class="form-group">
															<label for="form-field-select-3">Sub Region</label>
															
															<div>
																<input id="subRegion" type="text" class="form-control" placeholder="Sub Region" />
															</div>
														</div>
														
														<div class="form-group">
															<label for="form-field-select-3">Region</label>
															
															<div>
																<input id="region" type="text" class="form-control" placeholder="Region" />
															</div>
														</div>
														
														<div class="form-group">															
															<label for="form-field-select-3">Millésime</label>
															
															<div>
																<input type="text" class="input-mini" id="millesime" />
															</div>
														</div>
														
														<div class="form-group">															
															<label for="form-field-select-3">Apogée</label>
															
															<div>
																<input type="text" class="input-mini" id="apogee" />
															</div>
														</div>

														<div class="space-4"></div>

													</div>
												</div>
											</div>

											<div class="modal-footer">
												<button class="btn btn-sm" data-dismiss="modal">
													<i class="icon-remove"></i>
													Cancel
												</button>

												<button type="submit" class="btn btn-sm btn-primary">
													<i class="icon-ok"></i>
													Save
												</button>
											</div>
										</div>
									</div>
									}
								</div><!-- PAGE CONTENT ENDS -->

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->		
		
		@importjavascript()
		
		

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
		
		jQuery(function($) {		
			
		$('#millesime').ace_spinner({value:2013,min:0,max:3000,step:1, btn_up_class:'btn-info' , btn_down_class:'btn-info'});
		$('#apogee').ace_spinner({value:2013,min:0,max:3000,step:1, btn_up_class:'btn-info' , btn_down_class:'btn-info'});
				
		
		/////////
		$('#modal-form input[type=file]').ace_file_input({
			style:'well',
			btn_choose:'Drop files here or click to choose',
			btn_change:null,
			no_icon:'icon-cloud-upload',
			droppable:true,
			thumbnail:'large'
		});
		
		//chosen plugin inside a modal will have a zero width because the select element is originally hidden
		//and its width cannot be determined.
		//so we set the width after modal is show
		$('#modal-form').on('shown.bs.modal', function () {
			$(this).find('.chosen-container').each(function(){
				$(this).find('a:first-child').css('width' , '210px');
				$(this).find('.chosen-drop').css('width' , '210px');
				$(this).find('.chosen-search input').css('width' , '200px');
			});
		});
		/**
		//or you can activate the chosen plugin after modal is shown
		//this way select element becomes visible with dimensions and chosen works as expected
		$('#modal-form').on('shown', function () {
			$(this).find('.modal-chosen').chosen();
		})
		*/
		
		});
		
		</script>
	</body>
</html>
