<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='@routes.Assets.at("ace/js/jquery-2.0.3.min.js")'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='@routes.Assets.at("ace/js/jquery-1.10.2.min.js")'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='@routes.Assets.at("ace/js/jquery.mobile.custom.min.js")'>"+"<"+"/script>");
		</script>
		<script src="@routes.Assets.at("ace/js/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/typeahead-bs2.min.js")"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="@routes.Assets.at("ace/js/excanvas.min.js")"></script>
		<![endif]-->

		<script src="@routes.Assets.at("ace/js/uncompressed/jquery-ui-1.10.3.js")"></script>
		<script src="@routes.Assets.at("ace/js/jquery.ui.touch-punch.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/jquery.slimscroll.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/jquery.easy-pie-chart.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/jquery.sparkline.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/flot/jquery.flot.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/flot/jquery.flot.pie.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/flot/jquery.flot.resize.min.js")"></script>
		
		<script src="@routes.Assets.at("ace/js/chosen.jquery.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/fuelux/fuelux.spinner.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/date-time/bootstrap-datepicker.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/date-time/bootstrap-timepicker.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/date-time/moment.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/date-time/daterangepicker.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/bootstrap-colorpicker.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/jquery.knob.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/jquery.autosize.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/jquery.inputlimiter.1.3.1.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/jquery.maskedinput.min.js")"></script>
		<script src="@routes.Assets.at("ace/js/bootstrap-tag.min.js")"></script>

		<!-- ace scripts -->

		<script src="@routes.Assets.at("ace/js/uncompressed/ace-elements.js")"></script>
		<script src="@routes.Assets.at("ace/js/ace.min.js")"></script>