<!-- basic styles -->

		<link href="@routes.Assets.at("ace/css/bootstrap.min.css")" rel="stylesheet" />
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/font-awesome.min.css")" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="@routes.Assets.at("ace/css/font-awesome-ie7.min.css")" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="@routes.Assets.at("ace/css/ace-fonts.css")" />

		<!-- ace styles -->

		<link rel="stylesheet" href="@routes.Assets.at("ace/css/ace.min.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/ace-rtl.min.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("ace/css/ace-skins.min.css")" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="@routes.Assets.at("ace/css/ace-ie.min.css")" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="@routes.Assets.at("ace/js/ace-extra.min.js")"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="@routes.Assets.at("ace/js/html5shiv.js")"></script>
		<script src="@routes.Assets.at("ace/js/respond.min.js")"></script>
		<![endif]-->